{% extends "base.html" %}

{% block content %}
	<div id="content-wrapper">
		<div id="content">
			<h2>About</h2>
            <p>This is a project that aims to demystify what the <a href="https://yggdrasil-network.github.io/">Yggdrasil</a> network is like. Currently the only thing we have here is a map of the spanning tree subset of the network. The full source code is at <a href="https://github.com/Arceliar/yggdrasil-map">GitHub</a>.</p>
			<br>

			<h3>Network map</h3>
			<p>The network page has a map of Yggdrasil's spanning tree as it is now. The map is not complete since it is hard/impossible to get a full picture of the network, and it only includes the minimum subset of links needed to construct the spanning tree. The known nodes and tree coordinates are taken from <a href="http://y.yakamo.org:3000/">Yakamo's API</a>. You can submit your node's view of the network by periodically running <a href="https://github.com/yakamok/Niflheim-api/blob/master/send-view.py">send-view.py</a>.</p>
			<!--
			<h3>Node names</h3>
			<p>For now, node names are assigned manually. You can submit Pull Request to <a href="https://github.com/zielmicha/nodedb">nodedb</a> if you want to have your node named. 
			In future this will be replaced by some reverse DNS system.
      -->
			<h3>Contact</h3>
			<p>This project was foked from <em>zielmicha</em>'s fork of <em>Randati</em>'s fc00. 
	The yggdrasil developers can be contacted over matrix or IRC, for more info see: <a href="https://yggdrasil-network.github.io/">yggdrasil-network.github.io</a>.</p>
		</div>
	</div>
{% endblock %}
